<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
    <div class='container'>
        <h1>Comments</h1>

        {% for comment in course.comments.all %}
            <p>{{ comment.comm_content }}</p>
        {% endfor %}

        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class='container'>
        <form action="/comments/{{course.id}}/create" method='post'>
            {% csrf_token %}
            <label for="comm_content">Add Comment</label>
            <br>
            <textarea name="comm_content" id="" cols="30" rows="10"></textarea>
            <br>
            <button type='submit'>Submit</button>
        </form>
        <a href="/">Home</a>
    </div>
</body>
</html>