<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>Are you sure you want to delete the following course?</h1>
        <h3>{{ course.name }}</h2>
        <h3>{{ course.description.desc_content }}</h2>
        <a href="/delete_course/{{ course.id }}">Yes</a>
        <br>
        <a href="/">No, return home</a>
    </div>
</body>
</html>