*{
    box-sizing: border-box;
}

button{
    display: block;
    font-size: large;
    margin: 5px;
}

img{
    width: 15vw;
    height: 30vh;
    display: inline-block;
}

p{
    font-size: large;
    margin: 5px;
}

.borderBlue{
    border: 2px solid blue;
}